<div class="banner">
    <ul>
        <li><img src="{{ asset('bundles/app/images/1.jpg') }}" /></li>
        <li><img src="{{ asset('bundles/app/images/2.jpg') }}" /></li>
        <li><img src="{{ asset('bundles/app/images/3.jpg') }}" /></li>
    </ul>
</div>