{% extends "::base.html.twig" %}

{% block title %} Новини {% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}

    <div class="col-lg-12">
        <a href="{{ path('app_add_news') }}">Додати новину</a>
    </div>

    {% endif %}

    {% for news in news %}
        <div class="col-lg-12">
            <div class="col-lg-12">
                <a href="{{ path('app_get_single_news', {"slug" : news.slug}) }}">{{ news.title }}</a>
            </div>

            <div class="col-lg-12">
                {{ news.text }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
