{% extends "::base.html.twig" %}

{% block title %} Index {% endblock %}

{% block content %}
    {% for song in songs %}
        {{ song.name }} </br>
        {#{{ song.album.name }}#}

        </br>

        {#{% if app.user %}#}

        {#<p><a class="btn btn-info" href="{{ path('app_video_copyVideoToUser',#}
            {#{'user_id': app.user.id, 'video_id': video.id}) }}"#}
              {#role="button">Add video + </a></p>#}
        {#{% endif %}#}

    {% endfor %}
{% endblock %}
