<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a class="" href="{{ path('app_get_all_news') }}">
                {% trans %}Головна{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_get_all_albums') }}">
                {% trans %}Альбоми{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="/">
                {% trans %}Про нас{% endtrans %}</a>
        </li>
    </ul>
</nav>
