{% extends "::base.html.twig" %}

{% block title %} Chord {% endblock %}

{% block content %}

        <div class="col-lg-12">
                <div class="col-lg-12">
                        {{ chord.title }}</br>
                        {{ chord.chord }}</br>
                </div>

                <div class="col-lg-12">
                        {#Добавив: {{ chord.author.username }}#}
                </div>
        </div>


{% endblock %}
