{% extends "::base.html.twig" %}

{% block title %} AllVideos {% endblock %}

{% block content %}
    {% for video in videos %}
        {{ video.name }} </br>
        {{ video.dislike }} </br>
        {{ video.like }} </br>
        </br>
            {% if app.user %}

            <p><a class="btn btn-info" href="{{ path('app_video_copyVideoToUser',
                {'user_id': app.user.id, 'video_id': video.id}) }}"
                    role="button">Add video + </a></p>
            {% endif %}
    {% endfor %}
{% endblock %}
