{% extends "::base.html.twig" %}

{% block title %} Albums {% endblock %}

{% block content %}
    {% for album in albums %}
        <li>
            <a href="{{ path('app_song_show_by_album', {'name': album.slug }) }}">{{ album.name }}</a>
        </li>
        {{ album.year }} </br>


    {% endfor %}
{% endblock %}
